* {
    min-height: 0;
    border: none;
    font-family: "Nerd Font";
    font-weight: bold;
    font-size: 12px;
    transition: background 500ms ease;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background: none;
}

#workspaces {
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px 5px 5px 0;
    border-radius: 12px;
    background: rgba(105, 91, 72, 0.2);
}

#workspaces button {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    border-radius: 12px;
    color: #9c8c5f;
    transition: all 250ms ease;
}

#workspaces button.active {
    color: #ebdbb2;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(163, 139, 106, 0.2);
}

#workspaces button.urgent {
    color: #ebdbb2;
}

#window,
#clock,
#wireplumber,
#clock,
#cpu,
#memory,
#tray
{
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    background: rgba(105, 91, 72, 0.2);
    color: #ebdbb2;
}


#taskbar {
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    background: rgba(105, 91, 72, 0.2);
    color: #ebdbb2;
}
